html, body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: Arial, sans-serif;
  }
  
  /* Pseudo-elemento para o plano de fundo com opacidade */
  html::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/Fav-icon.png'); /* Substitua pelo caminho correto para sua imagem de fundo */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fixa a imagem de fundo */
    background-position: center center;
    opacity: 0.2; /* Opacidade da imagem de fundo */
    z-index: -1; /* Coloca o pseudo-elemento atrás do conteúdo */
  }
  
  /* Restante do seu estilo permanece inalterado */
  .container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 45px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 700px;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }

  .button-cnpj{
    position: relative;
    align-items: right;
    background-color: #007bff;
    border-radius: 5px;
    color: white;
    border-color: white;
    width: 200px;
    height: 30px;
  }
  
  /* Estilo para o formulário */
  form {
    margin-top: 20px;
  }
  
  /* Estilo para rótulos dos campos do formulário */
  label {
    display: block;
    margin-bottom: 5px;
    color: #333; /* Cor do texto */
  }
  
  /* Estilo para os campos de entrada do formulário */
  input[type="text"],
  input[type="email"],
  input[type="password"],
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Cor da borda */
    border-radius: 5px;
  }
  
  /* Estilo para o botão do formulário */
  button[type="submit"] {
    background-color: #007bff; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Estilo para o botão "Adicionar Participante" */
  #addParticipante {
    background-color: #28a745; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  